<!DOCTYPE html>

<head>
	<title>Book Tickets</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="Css/homepage.css">

	<link rel="stylesheet" type="text/css" href="Css/bookTicket.css">

</head>

<body>


	<div class="navigation-up">
		<!--Navigation bar !-->
		<ul class="nav justify-content-end">
			<!--padding added by adding pad class-->
			  <li class="nav-item dropdown pad">
			    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">The Resort</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Vision</a>
			      <a class="dropdown-item" href="#">Facts and Figures</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Contact Us</a>
			    </div>
			  </li>
			  <li class="nav-item pad">
			    <a class="nav-link text-white" href="#">The Lounge</a>
			  </li>
			  <li class="nav-item pad">
			    <a class="nav-link text-white" href="#">Gallery</a>
			  </li>
			  <li>
			  	<li class="nav-item dropdown pad">
			    	<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Amentities</a>
			    	<div class="dropdown-menu">
			      		<a class="dropdown-item" href="#">Restraunts</a>
			      		<a class="dropdown-item" href="#">Spa</a>
			      		<a class="dropdown-item" href="#">Swimming Pool</a>
			      		<a class="dropdown-item" href="#">Banquet</a>
			  	</li>
			  </li>
		</ul>

	</div>


	<div id="card-container">
		
		<div class="card mt-4 mr-5 ml-5 md-5 hover" style="width: 20rem;">
		  <img src="room.jpeg" class="card-img-top image-card" alt="...">
		  <div class="card-body bg-black">
		    <h5 class="card-title text-white"><u>Room</u></h5>
		    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-yellow">Book Now</a>
		  </div>
		</div>

		<div class="card mt-4 mr-5 ml-5 md-5 hover" style="width: 20rem;">
		  <img src="spa.jpeg" class="card-img-top image-card" alt="...">
		  <div class="card-body bg-black">
		    <h5 class="card-title text-white"><u>Spa</u></h5>
		    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-yellow">Book Now</a>
		  </div>
		</div>

		<div class="card mt-4 mr-5 ml-5 md-5 hover" style="width: 20rem;">
		  <img src="swimming pool.jpeg" class="card-img-top image-card" alt="...">
		  <div class="card-body bg-black">
		    <h5 class="card-title text-white"><u>Swimming Pool</u></h5>
		    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-yellow">Book Now</a>
		  </div>
		</div>

		<div class="card mt-4 mr-5 ml-5 md-5 hover" style="width: 20rem;">
		  <img src="restaurant.jpeg" class="card-img-top image-card" alt="...">
		  <div class="card-body bg-black">
		    <h5 class="card-title text-white">Restaurant</h5>
		    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-yellow">Book Now</a>
		  </div>
		</div>

		<div class="card mt-4 mr-5 ml-5 md-5 hover" style="width: 20rem;">
		  <img src="banquet.jpeg" class="card-img-top image-card" alt="...">
		  <div class="card-body bg-black">
		    <h5 class="card-title text-white"><u>Benquet</u></h5>
		    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-yellow">Book Now</a>
		  </div>
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
