<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="Css/lounge.css" 
        <title>

        </title>
    </head>
    <body>
            <nav class="navbar sticky-top navbar-expand-lg bg-dark">
                    <div class="container">
                    <a class="navbar-brand"z href="#">Logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white adding-hover" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">The Resort</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Vision</a>
                                  <a class="dropdown-item" href="#">Facts and Figures</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Contact Us</a>
                                </div>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link text-white adding-hover" href="#">The Lounge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white adding-hover" href="#">Gallery</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white adding-hover" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Amentities</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Restraunts</a>
                                  <a class="dropdown-item" href="#">Spa</a>
                                  <a class="dropdown-item" href="#">Swimming Pool</a>
                                  <a class="dropdown-item" href="#">Banquet</a>
                        </li>
                        <li class="nav-item">
                                <button class="btn btn-warning">Book Now</button>
                            </li>
        
                        </ul>
                    </div>
                    </div>
                </nav>
        
        <h1 class="heading">The Lounge</h1><br>
        <h1 class= "heading">Name</h1>
    </body>
</html>